<html>
    <head>
        <title>Vinalize</title>
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Search Twitter Username : </h1>
            </div>
            <div id="content">
                <form method="post" action="{{url_for('home')}}">

                  <label for="search_key">Search:</label>
                  <input type="text" name="search_key" /><br />
                  <input type="submit" />

                </form>
            </div>

            </div>
        </div>
    </body>
</html>
 